/*
!/.gitignore

!/addons
/addons/*

!/addons/sourcemod
/addons/sourcemod/*

!/addons/sourcemod/plugins
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/shout.smx

!/addons/sourcemod/scripting
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/shout.sp

!/addons/sourcemod/scripting/shout
!/addons/sourcemod/scripting/shout/*
