/*
!/.gitignore

!/addons
/addons/*

!/addons/sourcemod
/addons/sourcemod/*

!/addons/sourcemod/plugins
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/shout.smx

!/addons/sourcemod/scripting
/addons/sourcemod/scripting/*

/addons/sourcemod/scripting/include/
/addons/sourcemod/scripting/include/*
!/addons/sourcemod/scripting/include/updater.inc

!/addons/sourcemod/scripting/shout.sp

!/addons/sourcemod/scripting/shout
!/addons/sourcemod/scripting/shout/*
